<div class="app-page">
    <div class="app-page-header app-flex-box space-between start-items">
        <div>
            <h2 class="app-page-header-title">{{ 'game.gameDetails' | translate }}</h2>
            <h3>{{ getSubtitle() }}</h3>
        </div>
        <button mat-flat-button color="accent" (click)="onSaveClick()">
            <i class="fa-solid fa-floppy-disk mr-2"></i>
            <span>{{ 'common.save' | translate }}</span>
        </button>
    </div>
    <div class="app-page-content">
        <form class="app-form">
            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>{{ 'common.name' | translate }}</mat-label>
                <input matInput [formControl]="formControls.name">
            </mat-form-field>
        </form>
    </div>
</div>