<p class="answers-label mb-1" translate>game.questionForm.answersLabel</p>
<div class="answer-container">
  <ng-container *ngFor="let answerForm of getAnswerForms(); index as i" [formGroup]="answerForm">
    <div class="answer">
      <mat-form-field class="no-label no-bottom-space" appearance="outline" [hideRequiredMarker]="true">
        <input type="text" matInput formControlName="text">
      </mat-form-field>
      <div class="answer-buttons">
        <button class="correct-btn" mat-icon-button *ngIf="answerForm.controls.isCorrect.value; else incorrectAnswerBtn"
          (click)="toggleAnswerCorrectness(answerForm)">
          <mat-icon [inline]="true">check</mat-icon>
        </button>
        <ng-template #incorrectAnswerBtn>
          <button class="incorrect-btn" mat-icon-button (click)="toggleAnswerCorrectness(answerForm)">
            <mat-icon [inline]="true">close icon</mat-icon>
          </button>
        </ng-template>
        <button class="remove-btn" mat-icon-button (click)="removeAnswer(i)">
          <mat-icon [inline]="true">delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>