@import 'variables';

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $font-color;
}

p {
  margin: 0 !important;
}

// Remove spinners from number matInputs
// Chrome, Safari, Edge, Opera
input[matInput]::-webkit-outer-spin-button,
input[matInput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove spinners from number matInputs
// Firefox
input[matInput][type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// When applied, aligns the non-matIcon suffix with the input
.fix-suffix.mat-form-field .mat-form-field-suffix {
  top: 0;
}

.mat-card {
  background-color: $grey-2;
}

.mat-dialog-container {
  background-color: $grey-2;
}

ng-scrollbar {
  --scrollbar-thumb-color: #{$primary} !important;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
