@import 'variables';

html,
body {
  height: 100%;
}

html {
  font-size: 18px;
}

@media only screen and (max-width: 35rem) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $font-color;
}

p {
  margin: 0 !important;
}
