.app-flex-box {
  display: flex;

  &.center-items {
    align-items: center;
  }

  &.start-items {
    align-items: flex-start;
  }

  &.column-direction {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.flex-end {
    justify-content: flex-end;
  }
}

.app-page {
  height: 100%;
  width: 100%;
  padding: 0 3rem 2rem 3rem;
  font-size: 1rem;

  &-header {
    margin: 1.5rem 0 1rem 0;

    &-title {
      font-size: 2rem !important;
      font-weight: 700 !important;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-title {
      font-size: 1.5rem !important;
      font-weight: 500 !important;
    }
  }
}

.app-card-container {
  display: flex;
  flex-flow: row wrap;
}

// Margin
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i * 0.25}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }

  .mr-#{$i} {
    margin-right: #{$i * 0.25}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.25}rem;
  }
}

// Padding
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i * 0.25}em;
  }

  .pt-#{$i} {
    padding-top: #{$i * 0.25}em;
  }

  .pr-#{$i} {
    padding-right: #{$i * 0.25}em;
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 0.25}em;
  }

  .pl-#{$i} {
    padding-left: #{$i * 0.25}em;
  }
}
