// Fonts
$logo-font: 'Lobster';

// Colors
$seance: #9123a6;
$pomegranate: #f23a2f;
$apple: #43a547;
$white: #ffffff;

$black: #000000;
$grey-1: #212121;
$grey-2: #303030;
$grey-3: #424242;

$primary: $seance;
$accent: $apple;
$warn: $pomegranate;
$dark: $grey-2;
$dark-accent: $grey-3;

$font-color: $white;
$form-font-color: rgb(255, 255, 255, 0.7);
