@import 'variables';

.question-form {
  background-color: $grey-2;
  border-radius: 4px;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  position: relative;

  .text-field {
    width: 100%;
  }

  .time-limit-field {
    width: 8rem;
  }

  .question-delete-btn {
    position: absolute;
    top: 0.2rem;
    right: 0.25rem;
    font-size: 16px;
    line-height: 16px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
