<mat-toolbar class="toolbar app-flex-box center-items">
    <p class="toolbar-title">Quizz!</p>

    <div class="toolbar-menu">
        <i class="fa-solid fa-bars" [matMenuTriggerFor]="menu"></i>
        <mat-menu #menu="matMenu">
            <button *ngIf="!(isAuthenticated$ | async)" mat-menu-item (click)="login()">
                <i class="fa-solid fa-right-to-bracket mr-2"></i>
                <span>{{ 'common.signIn' | translate }}</span>
            </button>
            <button *ngIf="isAuthenticated$ | async" mat-menu-item (click)="logout()">
                <i class="fa-solid fa-circle-user mr-2"></i>
                <span>{{ 'common.signOut' | translate }}</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>