// Fonts
$logo-font: 'Lobster';

// Colors
$seance: #9123a6;
$pomegranate: #f23a2f;
$apple: #43a547;
$mine-shaft: #303030;
$tundora: #424242;

$primary: $seance;
$accent: $apple;
$warn: $pomegranate;
$dark: $mine-shaft;
$dark-accent: $tundora;
