@import 'variables';

.app-page-content {
  height: 100%;
}

.wait-text {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
}

.result {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  &.correct {
    background-color: $accent;
  }

  &.incorrect {
    background-color: $warn;
  }

  &-text {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }
}
