<ng-container *ngIf="question$ | async as question">
  <div class="app-page ">
    <div class="app-page-content app-flex-box center">
      <p class="wait-text" *ngIf="!gameStarted" translate>quiz-runner.gameWillBeginSoon</p>
      <p class="wait-text" *ngIf="questionAnswered" translate>quiz-runner.waitingForQuestion</p>

      <ng-container [ngSwitch]="question.type" *ngIf="!questionAnswered">
        <app-multiple-choice-answers *ngSwitchCase="QuestionType.MultipleChoice"
          [answers]="question.answerPossibilities ?? []" mode="answering" class="answering-mode"
          (answered)="onAnswered($event)"></app-multiple-choice-answers>
        <app-find-order-answers *ngSwitchCase="QuestionType.FindOrder" [answers]="question.answerPossibilities ?? []"
          mode="answering" class="answering-mode" (answered)="onAnswered($event)"></app-find-order-answers>
        <app-true-or-false-answers *ngSwitchCase="QuestionType.TrueOrFalse" mode="answering" class="answering-mode"
          (answered)="onAnswered($event)"></app-true-or-false-answers>
        <app-free-text-answers *ngSwitchCase="QuestionType.FreeText"
          (answered)="onAnswered($event)"></app-free-text-answers>
      </ng-container>
    </div>
  </div>
</ng-container>