<h3 class="app-page-content-title" translate>game.questions</h3>
<div class="questions-container" [formGroup]="form">
  <ng-container *ngFor="let questionControl of getQuestionControls(); index as i">
    <app-question-form [formControl]="questionControl" (deleteQuestionClick)="deleteQuestion(i)"></app-question-form>
  </ng-container>
</div>
<div class="questions-actions app-flex-box flex-end mt-3">
  <button mat-flat-button [matMenuTriggerFor]="addQuestionMenu">
    <span translate>game.addQuestion</span>
  </button>
  <mat-menu #addQuestionMenu="matMenu">
    <button mat-menu-item (click)="addQuestion(QuestionType.TrueOrFalse)"
      translate>game.questionTypes.trueOrFalse</button>
    <button mat-menu-item (click)="addQuestion(QuestionType.MultipleChoice)"
      translate>game.questionTypes.multipleChoice</button>
    <button mat-menu-item (click)="addQuestion(QuestionType.FindOrder)" translate>game.questionTypes.findOrder</button>
    <button mat-menu-item (click)="addQuestion(QuestionType.FreeText)" translate>game.questionTypes.freeText</button>
  </mat-menu>
  <button mat-flat-button color="accent" (click)="saveQuestions()" [disabled]="form.invalid || form.untouched">
    <i class="fa-solid fa-floppy-disk mr-2"></i>
    <span>{{ 'common.save' | translate }}</span>
  </button>
</div>