<div class="game-card">
  <mat-card>
    <div class="app-flex-box space-between">
      <div>
        <mat-card-title>{{ game.name }}</mat-card-title>
        <mat-card-subtitle>{{ getSubtitle() }}</mat-card-subtitle>
      </div>
      <button mat-icon-button color="accent" class="play-button" (click)="playClick.emit(game.id)">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <mat-card-actions align="end">
      <button mat-button mat-stroked-button color="accent" (click)="detailsClick.emit(game.id)">
        {{ 'common.details' | translate }}
      </button>
      <button mat-button mat-stroked-button color="warn" (click)="deleteClick.emit(game)">
        {{ 'common.delete' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>