@import 'variables';

.layout-container {
  height: 100%;
  background-color: $black;

  .main-content {
    max-width: 900px;
    height: calc(100% - 4rem);
    margin: auto;
    background-color: $grey-1;
  }
}
